APP_NAME AppRegs
TENANT_ID <tenant_id>
APP_ID <app_id>
APP_PASS <app_pass>
GRAPH_ENDPOINT https://graph.microsoft.com
LOGIN_ENDPOINT https://login.microsoftonline.com


# my $scope = 'https://graph.microsoft.com/.default';
# my $grant_type = 'client_credentials';
# my $url = "https://login.microsoftonline.com/$tenant_id/oauth2/v2.0/token";